# AStyle config file
--recursive
--style=attach
--indent=spaces=3
--indent-classes
--indent-col1-comments
--pad-oper
--unpad-paren
--pad-header
--align-pointer=type
--align-reference=type 
--break-closing-brackets
--add-brackets
--convert-tabs

--suffix=none
--exclude=flite
--exclude=hts_engine
--preserve-date



